.headline{ height: .44rem; background: #FFFFFF; position: relative; padding: 0 .3rem 0 .3rem;}
.headline-fixed{ position: fixed; left: 0; top: 0; z-index: 3; width: 100%;}
.headline .ico_remote{ line-height: .44rem; margin-top: -2px;margin-left: 10px;}
.headline .ico_search{ line-height: .44rem; margin-top: -3px;}

.headline .ls-4{ float: left; width: 25%; line-height: .42rem; text-align: center;}
.headline .ls-3{ float: left; width: 33.33%; line-height: .42rem; text-align: center;}
.headline .ls-2{ float: left; width: 50%; line-height: .42rem; text-align: center;}
.headline .ls-1{ float: left; width: 100%; line-height: .42rem; text-align: center;}

.headline .lsa{ display: inline-block; height: .44rem; color: #97caff; font-size: .14rem;}
.headline .lsa.active{ border-bottom: .02rem solid #91c5ff; color: #fff;}
.headline-title{padding: 0 .3rem;line-height: .44rem;}
.headline .dset{ left: auto; right: .4rem; font-size: .14rem;}

.size-banner{padding: 22% 0;}
.size-cover{padding: 66% 0;background: url(../img/icon_mine.jpg) no-repeat !important;background-size: contain !important;}
.size-covers{padding: 66% 0;}

.showrote{ display: block; height: .44rem; width: .4rem; position: fixed; right: 0; top: 65%; z-index: 11;}

.remotecont{position: fixed; left: 0; top: 0; height: 100%; width: 100%; z-index: 11; background: rgba(0,0,0,0.01); display: none;}
/*新增开始*/
.remotecont .midline{ height: 31px; position: absolute; width: 1px; top: 10px; background: url(../img/sprite.png) no-repeat; background-size:213px 135px; background-position:-90px -50px;}
.remotecont .rm-btn{ display: block; background: url(../img/sprite.png) no-repeat; background-size:213px 135px; margin: 0 auto;}
.remotecont .ico-vm{ background-position: 0 -116px; height: 18px; width: 34px;}
.remotecont .rmbtn-vm:active .ico-vm{ background-position: -107px -116px;}
.remotecont .ico-va{ background-position: -36px -116px; height: 18px; width: 36px;}
.remotecont .rmbtn-va:active .ico-va{ background-position: -143px -116px;}
.remotecont .ico-menu{ background-position: -35px -0px; height: 25px; width: 23px;}
.remotecont .rmbtn-menu:active .ico-menu{ background-position: -142px -0px;}
.remotecont .ico-back{ background-position: 0px -0px; height: 25px; width: 34px;}
.remotecont .rmbtn-back:active .ico-back{ background-position: -107px -0px;}
.remotecont .ico-top{background-position: -59px -13px; height: 12px; width: 21px;}
.remotecont .rmbtn-top:active .ico-top{ background-position: -166px -13px;}
.remotecont .ico-down{background-position: -59px 0; height: 12px; width: 21px;}
.remotecont .rmbtn-down:active .ico-down{ background-position: -166px 0;}
.remotecont .ico-left{background-position: -81px 0; height: 20px; width: 12px; margin-top: 35px; float: right;}
.remotecont .rmbtn-left:active .ico-left{ background-position: -188px 0;}
.remotecont .ico-right{background-position: -94px 0; height: 20px; width: 12px; margin-top: 35px; float: left;}
.remotecont .rmbtn-right:active .ico-right{background-position: -201px 0;}
.remotecont .ico-ok{background-position: 0 -26px; height: 89px; width: 89px;}
.remotecont .ico-ok:active{background-position: -107px -26px;}
.remotecont .ico-rmlink{background: url(../img/ico_rlink.png) no-repeat; background-size:30px 30px; height: 30px; width: 30px; position: relative; top: -5px;}
/*新增结束*/
.remotebd{ height: 300px; width: 260px; background: rgba(0,0,0,0.8); position: fixed; left: 50%; top: 50%; z-index: 10; margin: -160px 0 0 -130px; border-radius: 30px; overflow: hidden;}
.remotecont .rm-top{ overflow: hidden; position: relative;}
.remotecont .rm-top .a{ display: block; float: left; width: 50%; padding: 17px 0; height: 52px;}

.remotecont .rm-top .zsh{ font-size: .28rem; line-height: .32rem; color: #fff;}
.remotecont .rm-mid .zsh{ font-size: .26rem; line-height: .32rem; color: #fff;}
.remotecont .rm-bot .a{ width: 33.3%;}
.remotecont .rm-mid,.remotecont .rm-btns-t,.remotecont .rm-btns-m{ overflow: hidden;}
.remotecont .rm-btns-t a{ height: 40px; padding: 8px 0 20px;}
.remotecont .rm-btns-b a{ height: 40px; padding: 20px 0 8px;}
.remotecont .rm-btns-m a{ height: 90px; padding: 0;}
/*.remotecont .rm-btns-m .ico-ok{ display: block; height: .9rem; width: .9rem; border-radius: 50%; border:1px solid #fff; margin: 0 auto; line-height: .9rem; font-size: .26rem; color: #fff; text-align: center;}
.remotecont .rm-btns-m .rm-m:active .ico-ok{ color: #4eb512; border-color: #4eb512;}*/
.remotecont .rm-mid{ position: relative; padding: 10px 0;}
.remotecont .rm-l{ width: 25%; display: block; float: left;}
.remotecont .rm-m{ width: 50%; display: block; float: left;}
.remotecont .rm-r{ width: 25%; display: block; float: right;}

.remotecont a:active .zsh{ color: #4eb512;}
.remotecont .rm-tl,.remotecont .rm-bl{ width: 203px; display: block; height: 1px;background: url(../img/Line1.png) no-repeat; background-size:203px 1px; position: absolute; left: 23px; top:0;}
.remotecont .rm-bl{ bottom:0; top: auto;}


.tippop{ top: 50%; height: .6rem; left: 50%; width: 2rem; margin: -.3rem 0 0 -1rem;}
.tippop .text{ padding: .15rem .3rem; height: 1rem; line-height: .7rem; border-radius: .04rem;}
.tippop .text i{ font-size: .18rem; margin-right: .1rem;  vertical-align: middle;}
.tippop .warning{ background: #f2dede; border: .01rem solid #ebccd1;color: #a94442;}
.tippop .success{ background: #dff0d8; border: .01rem solid #d6e9c6;color: #3c763d;}
.tippop .info{ background: #d9edf7; border: .01rem solid #bce8f1;color: #31708f;}
/*添加校验提示，原因：文字过多*/
.tippops{ top: 50%; height: .6rem; left: 45%; width: 2.4rem; margin: -.3rem 0 0 -1rem;}
.tippops .text{ padding: .15rem .1rem; height: 1rem; line-height: .7rem; border-radius: .04rem;}
.tippops .text i{ font-size: .18rem; margin-right: .1rem;  vertical-align: middle;}
.tippops .warning{ background: #f2dede; border: .01rem solid #ebccd1;color: #a94442;}
.tippops .success{ background: #dff0d8; border: .01rem solid #d6e9c6;color: #3c763d;}
.tippops .info{ background: #d9edf7; border: .01rem solid #bce8f1;color: #31708f;}

.back{top: 50%; height: .3rem; background:rgba(0,0,0,0.5);border-radius: .04rem;line-height:.3rem;left: 50%; width: 2rem; margin: -.15rem 0 0 -1rem;}
/*遥控器提示*/
.remotetip{ top: 14%;  left: 45%; width: 2.4rem; margin: -.3rem 0 0 -1rem;}
.remotetip .info{color: #28c7d9;}

table{border-spacing:0;}

.loading{ margin: 0 auto; max-height: 100%; width: 100%;}
.loading[src$=".gif"],.ab[src$=".gif"]{ width: .16rem; height: .16rem; position: absolute; left: 50%; top: 50%; margin: -.08rem 0 0 -.08rem;}
.loading[src$="ico_df.jpg"]{/* width: .33rem; position: absolute; left: 50%; top: 50%; margin: -.20rem 0 0 -.16rem;*/}


.actlist{background: #f2f4f3;}
.actlist .li{ width: 33.3%; float: left; padding: 0 .02rem .10rem; position: relative;}
.actlist .lia{ display: block; position: relative;}
.actlist .edit{display: none; height: 100%; width: 100%;  position: absolute; right: .05rem; top: 0; z-index: 2; background: rgba(255,255,255,0.4)}
.actlist .edit .ico{ display: block; height: .20rem; width: .20rem; position: absolute; right: 0; top: 0;background: url(../img/ico_del.png) no-repeat; background-size: .20rem .20rem;}
.actlist .edit.active .ico{ background-position: 0 -.20rem;}
.actlist .active .edit{display: block;}

.searlist .li{position: relative;}
.searlist .lia{display: block; position: relative;}
.searlist .lia .img{width:40%; float: left;}
.tag span{display: inline-block;margin-right:.05rem;color:#fff;background:#bcbcbc;padding:0 .05rem;}


#order_list .ty-ls{ color: #444; display: block; line-height: .44rem;}
#order_list .ty-ls.active{ color: #007aff;}
#order_list .tvlist .lstv{margin-bottom: .10rem; padding: 0 0 0 1.20rem; display: block;}
#order_list .lstv .img{ width: 0.95rem; height: 1rem; text-align: center;margin: 0.1rem;}
#order_list .lstv .img img{ width: 50%;margin-top: 0.09rem;}
#order_list .lstv .name{ height: 1rem; padding-top: .10rem; color: #444;position: absolute;left: 1.2rem;top: 0.1rem;border: 0;width: 2rem;}
#order_list .btn_hk{ position: absolute; right: 0; top: .04rem; height: .30rem; width: .50rem; color: #666; border-radius: .03rem; line-height: .30rem; text-align: center;}
#order_list .edit{display: none; height: 100%; width: 100%;  position: absolute; right: .05rem; top: 0; z-index: 2; background: rgba(255,255,255,0.4)}
#order_list .edit .ico{ display: block; height: .20rem; width: .72rem; position: absolute;left: 0.27rem; bottom: 0.13rem;background: url(../img/cancel.png) no-repeat; background-size: 100% 100%;}
#order_list .edit.active .ico{ background-position: 0 -.20rem;}
#order_list .active .edit{display: block;}
.order_icon{height: 0.1rem;width: 0.12rem;float: left;background: url(../img/icon.png) no-repeat;background-size: 0.52rem auto;margin-right: 5px;}
.order_icon1{background-position: 0 -0.07rem;}
.order_icon2{height: 0.15rem;width: 0.13rem;float: left;background: url(../img/icon.png) no-repeat;background-size: 0.5rem auto;margin-right: 5px;background-position:-0.12rem -0.05rem;}
.order_icon3{height: 0.23rem;width: 0.23rem;float: left;background: url(../img/icon.png) no-repeat;background-size: 0.48rem auto;margin-right: 5px;background-position: -0.26rem -0.01rem;position: absolute;top: 0.4rem;left: 2.6rem;}

.J_icotv{ display: none; height: 22px; width: 40px; position: absolute; right: 0; top: 0; z-index: 2; background: url(../img/tv-icon.png) no-repeat center center rgba(0,0,0,0.6); background-size: 16px 16px;}
.J_icoadtime {  height: 22px;  width: 100%;  position: absolute;  right: 0;  top: 0;  z-index: 2;color: #FFFFFF;  line-height: 22px;text-align: right; box-shadow: inset 0px 12px 20px 0px rgba(0, 0, 0, 0.47);  }

.cover-decision{position: fixed; z-index: 11; height: 100%; width: 100%; background: rgba(0,0,0,0.7); left: 0; top: 0; }

.chosetv{ position: fixed; z-index: 11; height: 100%; width: 100%; background: rgba(0,0,0,0.6); left: 0; top: 0; display: none;}
.chosetv .remotenew{ height: 3rem; width: 2.60rem; background: rgba(0,0,0,0.8); position: fixed; left: 50%; top: 50%; z-index: 10; margin: -1.60rem 0 0 -1.30rem; border-radius: .30rem; overflow: hidden; padding: .30rem;}
.chosetv .btn_end{display: block; height: .40rem;  background: #007aff; line-height: .40rem; text-align: center; font-size: .16rem; border-radius: .03rem; color: #fff;}
.chosetv .choseend{ padding-top: .55rem;}
.chosetv .remotenew {  height: 3rem;  width: 2.60rem;  background: rgba(0,0,0,0.8);  position: fixed;  left: 50%;  top: 50%;  z-index: 10;  margin: -1.60rem 0 0 -1.30rem;  border-radius: .30rem;  overflow: hidden;  padding: .30rem;  }
.chosetv .rn-bnts{text-align: center; }
.chosetv .rn-btn.rn-btn-a {  background: #007aff;  color: #fff;  }


.chosetv .whiteBox{background: #fff;position: fixed; left: 50%; top: 50%; z-index: 10;border-radius: .10rem; overflow: hidden; padding: .24rem .24rem .1rem .24rem;}
.chosetv .redbtn{width:1.08rem;height:.26rem;line-height: .26rem;color:#fff;background: #ff4444;text-align: center;margin: 0 auto;border-radius: 2px;}


