<div class="db-detail bgcfff pb10">
    <div class="headline headline-title ">
        <a class="pta l10 cff fs16" href="javascript:;" id="J_back" back>
            <img style="height: .2rem;" src="img/left-arrow.png" />
        </a>
        <p class="i-text alic ellipsis" id="J_til" >参赛详情</p>
    </div>
    <div class="headimg" >
        <img   src="img/vote_detail_poster.png" />
    </div>
    <div  class="sd-vote-detail alic"  >
        <p class="pt10 sec-text fwb ellipsis  ">湘潭县欢乐腰鼓队《大姑娘美大姑娘浪》</p>
        <p class="piao "><span class="cred">9232</span>票</p>
        <div class="btn bgred dsib cff mt10 mb10">投一票</div>
        <p class="l"></p>
    </div>
    <div  class="sd-vote-detail alic"  >
        <div class="sec-text ">
            <p class="pt10 ellipsis title_l fl ptr "><span class="active">简介</span></p>
            <p class="pt10 ellipsis title_l ptr"><span class="">评论</span></p>
        </div>
    </div>

    <!--<div class=" sd-vote-detail-shotsec pt10 dt-intro sec-text">-->
    <!--<p class="pt10 ellipsis">类型:广场舞/“舞比快乐”</p>-->
    <!--<p class="pt10 ellipsis">地区:内地</p>-->
    <!--<p class="pt10 ellipsis">简介：</p>-->
    <!--<div>株洲是新中国成立后首批建设的八个工业城市之一，是中国老工业基地。京广铁路和沪昆铁路在株交汇成为中国重要的“十字形”铁路枢纽</div>-->
    <!--</div>-->
    <div class=" sd-vote-detail pt10 dt-intro sec-text">
            <div class="sentmsg ptr">
                <p class="pt5"><input contenteditable="true" type="text" class="cm-text dsb" id="J_text" placeholder="{{tip}}" ng-model="commenttext"  style="-webkit-user-modify: read-write-plaintext-only;"/></p>
                <a href="javascript:;" class="cm-btn alic pta r0 dsb" id="J_sent" ng-click="senttext()">发送</a>
            </div>
    </div>

</div>