<div class="sendgif">
    <div class="bgcffffff top">
        <div class="hp44 send_head"><a href="#/od_detail_12th" class="dsib hp44 wp50"></a><a href="#/buy_gift_12th" class="dsib hp44 wp50"></a></div>
        <div class="hp44 lh44 send_tishi cff alic">亲~购买信息可能有所延迟,请稍等几分钟再来选择</div>
    </div>
    <ul class="send_list">
        <li class="mb10 alic">
            <img  class="gifimg " src="img12th/chose_1.png" alt="">
             <div class="info alil fs13">
                 <p class="fs16 fmb">美国西屋慢速原汁机WSJ-SP1101</p>
                  <p class="fs14"><span class="c33">市场价格：</span><span class="cred">1280.00</span></p>
                  <p class="c33 fs14">产品特点：</p>
                  <p class="c66">1.仿生螺旋轴，53转低速转+纳米锥形孔；</p>
                  <p class="c66">2.营养保险塞，可做混合果汁；</p>
                  <p class="c66">3.玛莎拉蒂红，食品级材质磨砂喷漆工艺；</p>
                  <p class="c66">4.全铜滚轴电机低速研磨，全密封机身，持久耐用。</p>
             </div>
             <p class="seleBtn alic cff fs14"  ng-click="choose('shop1',1)">立即选择</p>
        </li>
        <li class="mb10 alic">
            <img  class="gifimg " src="img12th/chose_2.png" alt="">
            <div class="info alil fs13">
                <p class="fs16 fmb">suissewin万向轮登机箱拉杆箱20寸</p>
                <p><span class="c33">市场价格：</span><span class="cred">1188.00</span></p>
                <p class="c33">产品特点：</p>
                <p class="c66">1.PC材质，耐磨抗压；</p>
                <p class="c66">2.360度超静音万向轮；</p>
                <p class="c66">3.铝合金拉杆，具有高承重、高强抗弯曲特征；</p>
                <p class="c66">4.高性能提手与箱体浑然一体。</p>
            </div>
            <p class="seleBtn alic cff fs14" ng-click="choose('shop2',2)">立即选择</p>
        </li>
        <li class="mb10 alic">
            <img  class="gifimg " src="img12th/chose_3.png" alt="">
            <div class="info alil fs13">
                <p class="fs16 fmb">德国（STONE)司顿锅具五件套STH065</p>
                <p><span class="c33">市场价格：</span><span class="cred">788.00</span></p>
                <p class="c33">产品特点：</p>
                <p class="c66">1.三层复合锅底，外层不锈钢中间合金铝里层不锈钢；</p>
                <p class="c66">2.出色的兼容性，不挑炉灶；</p>
                <p class="c66">3.全钢手柄，采用中空设计不怕烫手，持久耐用；</p>
                <p class="c66">4.烹煮的完美组合，满足厨房烹饪大多数需求。</p>
            </div>
            <p class="seleBtn alic cff fs14"  ng-click="choose('shop3',3)">立即选择</p>
        </li>
    </ul>
    <div class="chosetv" style="display:{{is_choose?'none':'block'}}">
        <div class="whiteBox alic fs14 c33 send_chose">
            <p>亲，您需要先购买年卡，</p>
             <p class="pb20">再来挑选礼品哦~</p>
            <p class="redbtn" ng-click="is_choose=true">知道了</p>
        </div>
    </div>
</div>