<div class="html memb_order">
    <div class="headline headline-title ">
        <a class="pta l10 cff fs16" href="javascript:;" id="J_back" back>
            <img style="height: .2rem;" src="img/left-arrow.png" />
        </a>
        <p class="i-text alic ellipsis" id="J_til" >提交订单</p>
    </div>
    <div class="p10 ovh memb_order_t">
        <img class="mr10 fl img" ng-src="img/order-item.png" alt="">
        <div class="main c33 ptr">
            <p class="sec-text ellipsis">湖南IPTV年卡九折购 <span class="fr">￥135.00</span></p>
            <p class="tab-text444 ">黄金会员卡/钻石会员年卡</p>
            <p class="thi-text222 pta b0 p_b">钻石会员季卡 </p><span class="fr thi-text pta b0 r0">x1</span>
        </div>
   </div>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell sec-text">
           <span class="dsib mr10">买家留言:</span><input type="text" class="thi-text222" placeholder="请在此输入您给卖家的留言">
        </li>
        <li class="mui-table-view-cell sec-text">
            <span>合计:</span> <span class="cred fr">￥135.00</span>
        </li>
        <li class="mui-table-view-part">&nbsp;</li>
        <li class="mui-table-view-cell sec-text">
            <span>设备号</span> <span class="thi-text fr">1njcia-1njcia</span>
        </li>
        <li class="mui-table-view-part">&nbsp;</li>
        <li class="mui-table-view-cell sec-text">
            <span>微信通知收件人</span>
            <div class="mui-switch  mui-switch-mini {{switch?'mui-active':''}}" ng-click="toggleSwitch()">
                <div class="mui-switch-handle"></div>
            </div>

        </li>
    </ul>
    <div class="p10 tab-text444">
        <p>联系人:周先生</p>
        <p>手机号：13125678970</p>
        <p>订单编号：31391262779474413</p>
    </div>
    <div class="mui-bar mui-bar-tab mui-bar-tab-bottom alir lh54">
        <span class="tab-text444">合计: <span class="cred">￥135.00</span></span>
        <div class="bgred fr pl20 pr20 ml10 cff" ng-click="sub_order()" ng-bind="submission"></div>
    </div>

</div>